/* optional scoped styles for the component *//* optional scoped styles for the component */.k-icon {
  justify-content: initial;
}
.k-icon[data-size=large] svg {
    width: 10rem;
    height: 10rem;
}.auf-grid-button {
  padding: 0.5rem;
  border: 2px solid black;
}
.auf-setting > * {
  padding: 0.5rem;
}