
.grid {
  max-width: 1256px;
  margin-left: auto;
  margin-right: auto; 
}

@supports (grid-area: auto) { /* only load grid for supported browsers */

  /* Grid // @supports start */
  
  .grid { /* reset */
    max-width: initial;
    margin-left: initial;
    margin-right: initial;
  }
    
  /* =========================== */
  /* GRID                        */
  /* =========================== */

  :root {
    --grid-column-count: 12;
    --grid-column-max-width: 90px;
    --grid-column-gap: 16px;
    --grid-row-gap: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: 
      [margin-left-start] 1fr [margin-left-end]
      repeat(var(--grid-column-count), [col-start] minmax(0, var(--grid-column-max-width)) [col-end]) 
      [margin-right-start] 1fr [margin-right-end];
    grid-column-gap: var(--grid-column-gap);
    column-gap: var(--grid-column-gap);
    grid-row-gap: var(--grid-row-gap);
    row-gap: var(--grid-row-gap);
  }

  .grid > * {
    grid-column-start: col-start 1; 
    grid-column-end: col-end 12;
  }

  .grid > .grid {
    grid-column-start: 1; 
    grid-column-end: -1;
  }

  /* =========================== */
  /* GRID Column Presets */
  /* =========================== */
    
  .grid__column--full {
    grid-column-start: margin-left-start;
    grid-column-end: margin-right-end;
  }

  .grid__column--large {
    grid-column-start: col-start 1;
    grid-column-end: col-end 12;
  }

  .grid__column--medium {
    grid-column-start: col-start 2;
    grid-column-end: col-end 11;
  }

  .grid__column--small {
    grid-column-start: col-start 3;
    grid-column-end: col-end 10;
  }

  .grid__column--aside {
    grid-column-start: col-start 1;
    grid-column-end: span 5;
  }

  .grid__column--main {
    grid-column-start: col-start 6;
    grid-column-end: span 7;
  }

  /* ====================================== */
  /* GRID: Column Column Start-/End-Classes */
  /* ====================================== */

  /* ------------------------- */
  /* grid__column--start-#     */
  /* ------------------------- */

  .grid__column--start-margin-left {
      grid-column-start: margin-left-start;
  }

  .grid__column--start-1 {
      grid-column-start: col-start 1;
  }

  .grid__column--start-2 {
      grid-column-start: col-start 2;
  }

  .grid__column--start-3 {
      grid-column-start: col-start 3;
  }

  .grid__column--start-4 {
      grid-column-start: col-start 4;
  }

  .grid__column--start-5 {
      grid-column-start: col-start 5;
  }

  .grid__column--start-6 {
      grid-column-start: col-start 6;
  }

  .grid__column--start-7 {
      grid-column-start: col-start 7;
  }

  .grid__column--start-8 {
      grid-column-start: col-start 8;
  }

  .grid__column--start-9 {
      grid-column-start: col-start 9;
  }

  .grid__column--start-10 {
      grid-column-start: col-start 10;
  }

  .grid__column--start-11 {
      grid-column-start: col-start 11;
  }

  .grid__column--start-12 {
      grid-column-start: col-start 12;
  }

  .grid__column--start-margin-right {
      grid-column-start: margin-right-start;
  }

  .grid__column--start-auto {
      grid-column-start: auto;
  }

  /* ------------------------- */
  /* grid__column--end-#       */
  /* ------------------------- */

  .grid__column--end-margin-left {
      grid-column-end: margin-left-end;
  }

  .grid__column--end-1 {
      grid-column-end: col-end 1;
  }

  .grid__column--end-2 {
      grid-column-end: col-end 2;
  }

  .grid__column--end-3 {
      grid-column-end: col-end 3;
  }

  .grid__column--end-4 {
      grid-column-end: col-end 4;
  }

  .grid__column--end-5 {
      grid-column-end: col-end 5;
  }

  .grid__column--end-6 {
      grid-column-end: col-end 6;
  }

  .grid__column--end-7 {
      grid-column-end: col-end 7;
  }

  .grid__column--end-8 {
      grid-column-end: col-end 8;
  }

  .grid__column--end-9 {
      grid-column-end: col-end 9;
  }

  .grid__column--end-10 {
      grid-column-end: col-end 10;
  }

  .grid__column--end-11 {
      grid-column-end: col-end 11;
  }

  .grid__column--end-12 {
      grid-column-end: col-end 12;
  }

  .grid__column--end-margin-right {
      grid-column-end: margin-right-end;
  }

  .grid__column--end-auto {
      grid-column-end: auto;
  }

    /* ------------------------- */
    /* grid__column--span-#      */
    /* ------------------------- */
  
  .grid__column--span-1 {
      grid-column-end: span 1;
  }

  .grid__column--span-2 {
      grid-column-end: span 2;
  }

  .grid__column--span-3 {
      grid-column-end: span 3;
  }

  .grid__column--span-4 {
      grid-column-end: span 4;
  }

  .grid__column--span-5 {
      grid-column-end: span 5;
  }

  .grid__column--span-6 {
      grid-column-end: span 6;
  }

  .grid__column--span-7 {
      grid-column-end: span 7;
  }

  .grid__column--span-8 {
      grid-column-end: span 8;
  }

  .grid__column--span-9 {
      grid-column-end: span 9;
  }

  .grid__column--span-10 {
      grid-column-end: span 10;
  }

  .grid__column--span-11 {
      grid-column-end: span 11;
  }

  .grid__column--span-12 {
      grid-column-end: span 12;
  }
  /* ============================== */
  /* Inline-Grid */
  /* ============================== */

  .inline-grid {
    --grid-row-gap: var(--grid-column-gap);
    display: inline-grid;
    grid-template-columns: repeat(var(--grid-column-count), 
      [col-start] minmax(0, var(--grid-column-max-width)) [col-end]);
    grid-column-gap: var(--grid-column-gap);
    grid-row-gap: var(--grid-row-gap);
  }
  .inline-grid > * {
    margin-top: initial;
  }
  .grid > .inline-grid {
    grid-column-start: margin-left-end;
    grid-column-end: margin-right-start;
  }

  .grid__column--full.inline-grid { 
    grid-template-columns: repeat(var(--grid-column-count), 
    [col-start] 1fr [col-end]);
  }
  
  /* ------------------------------- */
  /* inline-grid--items--span-#       */  
  /* ------------------------------- */
    
  .inline-grid--items--span-1 > * {
    grid-column-end: span 1;
  }
      
  .inline-grid--items--span-2 > * {
    grid-column-end: span 2;
  }
      
  .inline-grid--items--span-3 > * {
    grid-column-end: span 3;
  }
      
  .inline-grid--items--span-4 > * {
    grid-column-end: span 4;
  }
      
  .inline-grid--items--span-5 > * {
    grid-column-end: span 5;
  }
      
  .inline-grid--items--span-6 > * {
    grid-column-end: span 6;
  }
      
  .inline-grid--items--span-7 > * {
    grid-column-end: span 7;
  }
      
  .inline-grid--items--span-8 > * {
    grid-column-end: span 8;
  }
      
  .inline-grid--items--span-9 > * {
    grid-column-end: span 9;
  }
      
  .inline-grid--items--span-10 > * {
    grid-column-end: span 10;
  }
      
  .inline-grid--items--span-11 > * {
    grid-column-end: span 11;
  }
      
  .inline-grid--items--span-12 > * {
    grid-column-end: span 12;
  }
      
  /* =========================== */
  /* INLINE-GRID Column Presets */
  /* =========================== */
    
  .grid__column--full.inline-grid {
    grid-column-start: 1;
    grid-column-end: -1;
  }
        
  .grid__column--large.inline-grid {
    --grid-column-count: 12;
    grid-column-start: col-start 1;
    grid-column-end: col-end 12;
  }
        
  .grid__column--medium.inline-grid {
    --grid-column-count: 10;
    grid-column-start: col-start 2;
    grid-column-end: col-end 11;
  }
        
  .grid__column--small.inline-grid {
    --grid-column-count: 8;
    grid-column-start: col-start 3;
    grid-column-end: col-end 10;
  }
        
  .grid__column--aside.inline-grid {
    --grid-column-count: 5;
    grid-column-start: col-start 1;
    grid-column-end: span 5;
  }
        
  .grid__column--main.inline-grid {
    --grid-column-count: 7;
    grid-column-start: col-start 6;
    grid-column-end: span 7;
  }
        
  
  /* ============================== */
  /* MEDIA-QUERIES */
  /* ============================== */

  @media screen and (max-width: 600px) {
    .grid {
      display: flex;
      flex-direction: column;
    }
  }    

  /* Grid // @supports end */

}
    